<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DarooPakhsh_Office.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!--<connectionStrings>
        <add name="DarooPakhsh_Office.Properties.Settings.DPConnectionString"
            connectionString="Data Source=NO200;Initial Catalog=DP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DarooPakhsh_Office.Properties.Settings.DPConnectionString1"
            connectionString="Data Source=SERVER\SQL2005;Initial Catalog=DP;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <connectionStrings>
        <add name="DarooPakhsh_Office.Properties.Settings.DPConnectionString" connectionString="Data Source=NO200;Initial Catalog=DP;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DarooPakhsh_Office.Properties.Settings.DPConnectionString1" connectionString="Data Source=SERVER\SQL2005;Initial Catalog=DP;Persist Security Info=True;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <DarooPakhsh_Office.Properties.Settings>
            <setting name="DarooPakhsh_Office_DP_WebReference_HHWS" serializeAs="String">
                <value>http://91.98.131.226:8300/dpbarcodeproj/hhws.asmx</value>
            </setting>
            <setting name="DarooPakhsh_Office_WebReference_HHWS" serializeAs="String">
                <value>http://91.98.131.226:8300/dpbarcodeproj/hhws.asmx</value>
            </setting>
        </DarooPakhsh_Office.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
